* {
   margin: 0;
   padding: 0;
   font-family: Arial, Helvetica, sans-serif;
   box-sizing:border-box;
}

:root {
   --color-medium-gray: #3C3C43;
   --color-light-gray: #c0c0c0;
   --marquee-text-size: 14px;
   --color-primary-red: #7F0019;
   --color-beige: #d6ad7f;
}

marquee {
   background-color: var(--color-medium-gray);
   height: 32px;
   width: 100%;
   display: flex;
   align-items: center;
}

marquee > span {
   color: white;
   font-size: var(--marquee-text-size);
   padding-left: 2.5em;
   padding-right: 2.5em;
}

.icons {
   height: 24px;
   width: auto;
   margin: 8px;
}

.icons:hover {
   opacity: 0.6;
   cursor: pointer;
}

input {
   color: #666;
   font-size: 1rem;
   border: none;
   width: 100%;
   padding-left: 12px;
   padding-right: 12px;
   padding-bottom: 6px;
   padding-top: 6px;
}

.input-field {
   align-items: center;
   display: flex;
   flex-direction: row;
   width: 300px;
   margin-left: 12px;
   border-bottom: 1px solid var(--color-light-gray);
}

.navigation {
   display:grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 20px;
   align-items: center;
   padding: 12px;
   padding-bottom: 0px;
}

.icon-set {
   align-items: center;
   display: flex;
   flex-direction: row;
   justify-self: end;
}

.navbar {
   align-items: center;
   display: flex;
   flex-direction: row;
   justify-self: center;
   grid-column: 2;
   white-space: nowrap;
}

.navbar > a {
   font-size: 16px;
   color: var(--color-medium-gray);
   border-bottom: 2px solid transparent;
   margin: 12px;
   cursor: pointer;
   text-decoration: none;
}

.navbar > a:hover{
   border-bottom: 2px solid var(--color-primary-red);
}

.header{
   background-color: var(--color-beige);
   padding-top: 7rem;
   padding-bottom: 7rem;
}

.header-h1{
   color: var(--color-primary-red);
   font-size: 6rem;
}

.header-h2{
   color: var(--color-primary-red);
   font-size: 2.5rem;
}

.header-h3{
   color: var(--color-primary-red);
   font-size: 1rem;
}

.header-title{
   display: flex;
   flex-direction: column;
   align-items: start;
   gap: 2em;
   margin-left: 4em;
}

.title{
   display: flex;
   flex-direction: column;
   align-items: start;
}