* {
   margin: 0;
   padding: 0;
   font-family: Arial, Helvetica, sans-serif;
   box-sizing:border-box;
}

header {
   position:fixed;
   background-color: white;
   z-index: 9999;
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

:root {
   --color-medium-gray: #3C3C43;
   --color-light-gray: #c0c0c0;
   --marquee-text-size: 14px;
   --color-primary-red: #7F0019;
   --color-beige: #d6ad7f;
   --color-white-2: #f3f3f2;
}

marquee {
   background-color: var(--color-medium-gray);
   height: 32px;
   width: 100%;
   display: flex;
   align-items: center;
}

marquee > span {
   color: white;
   font-size: var(--marquee-text-size);
   padding-left: 2.5em;
   padding-right: 2.5em;
}

.icons {
   height: 24px;
   width: auto;
   margin: 8px;
}

.icons:hover {
   opacity: 0.6;
   cursor: pointer;
}

input {
   color: #666;
   font-size: 1rem;
   border: none;
   width: 100%;
   padding-left: 12px;
   padding-right: 12px;
   padding-bottom: 6px;
   padding-top: 6px;
}

.input-field {
   align-items: center;
   display: flex;
   flex-direction: row;
   width: 300px;
   margin-left: 12px;
   border-bottom: 1px solid var(--color-light-gray);
}

.navigation {
   display:grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 20px;
   align-items: center;
   padding: 12px;
   padding-bottom: 0px;
}

.icon-set {
   align-items: center;
   display: flex;
   flex-direction: row;
   justify-self: end;
}

.navbar {
   align-items: center;
   display: flex;
   flex-direction: row;
   justify-self: center;
   grid-column: 2;
   white-space: nowrap;
}

.navbar > a {
   font-size: 16px;
   color: var(--color-medium-gray);
   border-bottom: 2px solid transparent;
   margin: 12px;
   cursor: pointer;
   text-decoration: none;
}

.navbar > a:hover{
   border-bottom: 2px solid var(--color-primary-red);
}

.header{
   display: flex;
   flex-direction: row;
   background-color: var(--color-beige);
   padding-bottom: 18vh;
   padding-top: 250px;
}

.header-h1{
   color: var(--color-primary-red);
   font-size: clamp(2.5rem, 8vw, 6rem);
   white-space: nowrap;
}

.header-h2{
   color: var(--color-primary-red);
   font-size: clamp(1.2rem, 4vw, 2.5rem);
   white-space: nowrap;
}

.header-h3{
   color: var(--color-primary-red);
   font-size: clamp(0.8rem, 2vw, 1rem);
   white-space: nowrap;
}

.header-title{
   display: flex;
   flex-direction: column;
   align-items: start;
   gap: 2em;
   margin-left: 5vw;
}

.title{
   display: flex;
   flex-direction: column;
   align-items: start;
}

.header-photos{
   width: 70%;
   display: flex;
   flex-direction: row;
   overflow-x: auto;   
   scrollbar-width: none;
   gap: 1vh;
   padding-left: clamp(10vh, 15vw, 20vh);
}

.header-photo {
   display: flex;
   align-items: end;       
   justify-content: center;
   background-size: cover;
   background-position: center;
   opacity: 0.95;
   width: 42vh;  
   aspect-ratio: 1/1.3;  
}

.header-photo:hover {
   opacity: 1;
}

.header-photo > a{
   font-size: 16px;
   color: white;
   border-bottom: 3px solid transparent;
   margin: 12px;
   cursor: pointer;
   text-decoration: none;
   margin-bottom: 12px;
}

.header-photo > a:hover{
   border-bottom: 3px solid var(--color-primary-red);
}

.highlights {
   background-color: var(--color-white-2);
   padding: 5vw;
}

.highlights-h1 {
   font-size: 1.2rem;
   color: var(--color-medium-gray);
}

.highlights-title {
   display: flex;
   width: 100%;
   justify-content: space-between;
}

.arrows {
   display: flex;
   flex-direction: row;
   gap: 1rem;
}

.highlight-items {
   display: flex;
   overflow-x: auto;
   scrollbar-width: none;
   gap: 1vw;
   padding-bottom: 1vw;
}

.highlight-items::-webkit-scrollbar {
   display: none;              
}

.highlight-item {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   text-decoration: none;
   color: var(--color-medium-gray);  
   flex: 0 0 auto;       
   min-width: 100px;
   max-width: 300px;
}

.highlight-image {
   width: 100%;
   aspect-ratio: 1/1;
   overflow: hidden;
   margin-bottom: 1vw;
   margin-top: 2vw;
}

.highlight-item:hover .highlight-image {
   transform: scale(1.01);
}

.highlight-item > span {
   border-bottom: 3px solid transparent;
}

.highlight-item:hover > span {
   border-bottom: 3px solid var(--color-primary-red);
}

.hero{
   aspect-ratio: 16 / 6; 
   background-image: url("assets/hero/hero.jpg");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   display: flex;
   align-items: center;
   margin: 7vw;
}

.hero-title > h1{
   color: white;
   text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
   font-size: 2.5rem;
   padding-left: 4vw;
}

.hero-subtitle > h2 {
   color: white;
   text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
   font-size: 1rem;
}

.hero-title {
   vertical-align: center;
   display: flex;
   flex-direction: column;
   align-items: start;
   gap: 1vh;
}

.hero-subtitle {
   vertical-align: center;
   display: flex;
   flex-direction: row;
   align-items: start;
   padding-left: 4vw;
   gap: 1.5vw;
}

.bestsellers{
   display: flex;
   flex-direction: column;
   gap: 0.7rem;
   padding: 7vw;
   padding-top: 0;
}

.bestsellers-photos{
   display: flex;
   gap: 0.5vw;
}

.bestsellers-photo{
   display: flex;
   align-items: flex-end;     
   justify-content: flex-start;   
   background-size: cover;
   background-position: center;  
   width: 33%;
   aspect-ratio: 1 / 1;
   padding: 1.2rem;
   cursor: pointer;
}

.bestsellers-photo > a {
   color: white;
   text-decoration: none;
   font-size: 16px;
   border-bottom: 3px solid transparent
}

.bestsellers-photo:hover a {
   border-bottom: 3px solid var(--color-primary-red)
}

.stories{
   display: flex;
   flex-direction: column;
   gap: 0.7rem;
   padding: 7vw;
}

.stories-container{
   display: flex;
   flex-direction: row;
   width: 100%;
   gap: 0.5vw;
}

.story {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 3vh;
   text-decoration: none;
   color: var(--color-medium-gray);
}

.story p{   
   line-height: 1.5;
}

.story-img{  
   background-size: cover;
   background-position: center;
   aspect-ratio: 5 / 6;
   width: 20.8vw;
   cursor: pointer;
}

.read-the-story {
   display: flex;
   flex-direction: row;
   gap: 0.5vw;
   align-items: center;
}

.story:hover .highlights-h1{
   color: var(--color-primary-red)
}

.story:hover p{
   color: var(--color-primary-red)
}

.story:hover span{
   color: var(--color-primary-red)
}

footer{
   background-color: var(--color-medium-gray);
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   gap: 5vw;
   padding: 5vw;
}

.footer-column{
   display: flex;
   flex-direction: column;
   gap: 1.2rem;
}

footer h1 {
   font-size: 1.2rem;
   color: white;
}

footer a{
   text-decoration: none;
   color: white;
   display: flex;
   flex-direction: column;
   gap: 1.2rem;
}

footer a:hover{
   text-decoration: underline;
   color: white;
}

footer p{
   line-height: 1.5;
   color: white;
}

footer input{
   color: var(--color-light-gray);
   border: 1px solid var(--color-light-gray);
}

.footer-logo{
   display: flex;
   flex-direction: row;
   grid-column: 1 / -1; 
   justify-self: center;
   align-items: center;
   gap: 3vw;
   padding-top: 3vw;
}
